#Welcome{
	font-size: 30px;
	padding-bottom: 10px;
	color: #1579f6;
}

#Forgot{
	float: right;
}

#idea{
	margin-top: 80px;
	margin-left: 40%;
}

.submenu{
	display: block;
}

.submenu li{
	margin-top: -10px;
	float: left;
	display: block;
	margin-right: 25px;
}

.submenu li a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}

#Piner{
	font-size: 500px;
	color: #1579f6;
}

#Piner2{
	color: #73f33f;
}

#Sign{
	padding-top: 40px;
}

.logo_link{
  text-decoration: none;
}

.logo_link:hover{
  text-decoration: none;
}

.message{
	color: red;
	text-align: center;
	margin-top: 5%;
}