{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Pine - info</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/info_style.css' %}"/>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    </style>
    <body>
        <nav class="navbar navbar bg-primary">
            <div class="col-2">
                <ul class="navbar-nav">
                    <li>
                        <a href="login" class="logo_link">
                            <h1 class="text-light">Pine</h1>    
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <section class = "Main">
            <div class = "Name">
                P I N E
            </div>
            <div class='ForWhat'>
                <span id='text'></span>
                <div class='console-underscore' id='console'>&#95;</div>
            </div>
            <script type="text/javascript">
                consoleText(['Image content analysis portal.', 'Fast and Ergonomic.', 'Made with Love.'], 'text',['grey','rebeccapurple','lightblue']);

                function consoleText(words, id, colors) {
                  if (colors === undefined) colors = ['#fff'];
                  var visible = true;
                  var con = document.getElementById('console');
                  var letterCount = 1;
                  var x = 1;
                  var waiting = false;
                  var target = document.getElementById(id)
                  target.setAttribute('style', 'color:' + colors[0])
                  window.setInterval(function() {
                    if (letterCount === 0 && waiting === false) {
                      waiting = true;
                      target.innerHTML = words[0].substring(0, letterCount)
                      window.setTimeout(function() {
                        var usedColor = colors.shift();
                        colors.push(usedColor);
                        var usedWord = words.shift();
                        words.push(usedWord);
                        x = 1;
                        target.setAttribute('style', 'color:' + colors[0])
                        letterCount += x;
                        waiting = false;
                      }, 600)
                    } else if (letterCount === words[0].length + 1 && waiting === false) {
                      waiting = true;
                      window.setTimeout(function() {
                        x = -1;
                        letterCount += x;
                        waiting = false;
                      }, 600)
                    } else if (waiting === false) {
                      target.innerHTML = words[0].substring(0, letterCount)
                      letterCount += x;
                    }
                  }, 90)
                  window.setInterval(function() {
                    if (visible === true) {
                      con.className = 'console-underscore hidden'
                      visible = false;

                    } else {
                      con.className = 'console-underscore'

                      visible = true;
                    }
                  }, 400)
                }
            </script>
            <div class = "Button" >
                <a href="login">
                    <button>
                      Start
                    </button>
                </a>
            </div>
        </section>
        <section class = "Main Second">
            <div class = "Paragr">
                <h1 class = "Head">
                    Enjoy<br>
                    Fast image recognition
                </h1>
                <p>   
                    Every aspect of Pine<br>
                    is specifically designed to<br> 
                    maximize recognition productivity.<br>
                    Together, the powerful<br>
                    static code analysis and<br>
                    ergonomic design make<br>
                    work not only productive<br>
                    but also an enjoyable experience.<br>
                </p>
            </div>
            <div class = "Button2" >
                <a href="login">
                    <button>
                      Small Tour
                    </button>
                </a>
            </div>
            <img id = "firstimg" src="{% static 'image/info1.png' %}">
        </section>
        <section class = "Main Third">
            <div class = "Paragr2">
                <h4 class = "Head2">
                    Ten-point recognition
                </h4>
                <p>   
                    After you load archive<br>
                    with photos neural network<br> 
                    the neural network will begin<br>
                    to recognize ten photos at<br>
                    a time. After sending statistics<br>
                    and fluorography with selected<br>
                    objects by mail<br>
                </p>
            </div>
            <div class = "Paragr2">
                <h4 class = "Head2">
                    Four different statstics
                </h4>
                <p>   
                    You will recieve four<br>
                    different statistics.<br> 
                    Xxxxxxxxxxxxxxxxxxxxx<br>
                    xxxxxxxxxxxxxxxxxxxxt<br>
                    xxxxxxxxxxxxxxxxxxxx<br>
                    xxxxxxxxxxxxxxxxxxxx<br>
                    xxxxxxxxxxxxxxxxxxxx<br>
                </p>
            </div>
                <div class="accordian">
                    <ul>
                        <li>
                            <div class="image_title">
                                <a href="https://new.papajohns.ru/?gclid=CjwKCAjwmq3kBRB_EiwAJkNDp5W89hmYIy4J3itUkjtbG1n_Vmw5LyF-30MdMn0Y171SAUYsqweiTxoCW_4QAvD_BwE">Pizza</a>
                            </div> 
                            <a href="https://new.papajohns.ru/?gclid=CjwKCAjwmq3kBRB_EiwAJkNDp5W89hmYIy4J3itUkjtbG1n_Vmw5LyF-30MdMn0Y171SAUYsqweiTxoCW_4QAvD_BwE">
                                <img src="https://psv4.userapi.com/c848432/u201321451/docs/d18/837f47a20f94/img_0.jpg?extra=QEy-gCFqXtIE8CdK2E5nP3V-pV6kuzOL19NNDq6xzmWkGVyXwSG92NAPssFDOP2UYk8bA7mqmdjtPKP5cyRhCoYHbz5uTi9pxKoiIAQ4WpAZhzIkS69dL-oqS4UE0l6taKdA4u8u8Jc7H7mepPVCeg"/>
                            </a>
                        </li>
                        <li>
                            <div class="image_title">
                                <a href="https://barackobama.com">Obabama</a>
                            </div>
                            <a href="https://barackobama.com">
                                <img src="https://psv4.userapi.com/c848432/u201321451/docs/d16/36840396bd3c/img_1.jpg?extra=f0XE4324-e-MawQSuSlJ3urx6ATZ_q4JoQ3MFchk7U1ELbMZiAB38SwCBYU5-gpbWh2-DcE8KHqxmykwqQZy0qCDz2gEL0_PhLF2xiU-LOn6wPFdR-vCPhi9w_wlpOvDN-1AghhSd5cQ4C1-WgAwIA"/>
                            </a>
                        </li>
                        <li>
                            <div class="image_title">
                                <a href="https://www.bbc.com">Zebra</a>
                            </div>
                            <a href="https://www.bbc.com">
                                <img src="https://pp.userapi.com/c850528/v850528461/de6d2/cVn3bedthpw.jpg"/>
                            </a>
                        </li>
                        <li>
                            <div class="image_title">
                                <a href="https://greenpeace.ru">Elefent</a>
                            </div>
                            <a href="https://greenpeace.ru">
                                <img src="https://psv4.userapi.com/c848432/u201321451/docs/d18/32cc33bc0ace/img_3.jpg?extra=mxE3eP-3B8SITVjR3m1qn97bXmakrPQ061QVzvwN28dJ3EG3ifOEFCghUcKR86R6c4GahCyfkV7dEpiWL-MLopXIaEM-5zi3vZ7ERc48fwrPsu28XAhar32BbRsf3NRDLNkaJHpm5gGVr1A6UTpvFw"/>
                            </a>
                        </li>
                        <li>
                            <div class="image_title">
                                <a href="https://www.farecompare.com/flights/South_African-SA/airline.html?utm_source=google&utm_medium=cpc&utm_campaign=dsa_eu_desktop&utm_term=&gclid=CjwKCAjwmq3kBRB_EiwAJkNDpwPPglLAr0QyrHZetomYyKCHfdnPxk133euW64ehf2myB9ah5ztFfBoCzoMQAvD_BwE#quote?quoteKey=CMOW*20190409R20190416P1CTF">Girraf</a>
                            </div>
                            <a href="https://www.farecompare.com/flights/South_African-SA/airline.html?utm_source=google&utm_medium=cpc&utm_campaign=dsa_eu_desktop&utm_term=&gclid=CjwKCAjwmq3kBRB_EiwAJkNDpwPPglLAr0QyrHZetomYyKCHfdnPxk133euW64ehf2myB9ah5ztFfBoCzoMQAvD_BwE#quote?quoteKey=CMOW*20190409R20190416P1CTF">
                                <img src="https://psv4.userapi.com/c848432/u201321451/docs/d5/7d43e067a2c8/img_4.jpg?extra=9nRJVwuN4hvRyjK6dFh2Xg0Irl0SJBJRTo06-CD6vio2bFu6kjQc345xwZTb0wXu40Q_cVpaEX09r80q5lc2_xn8dh-0rFBb2DAt3mV8e-lFMScMPdcbzsRs54z78Rn2oBWcSroacJLs2jiwPiAhIw"/>
                            </a>
                        </li>
                    </ul>
                </div>
        </section>
        <section class = "Main Fourth">
            <div class = "Paragr3 ">
                <h4 class = "Head2 ">
                    Your own operator
                </h4>
                <p class = "Toleft">   
                    You have your own operator,<br> 
                    who will add object yuo want:<br>
                    teach the neural network,<br>
                    will select a collection<br> 
                    of photos to minimize the<br> 
                    likelihood of error and your<br> 
                    data analysis is as<br>
                    successful as possible<br>
                </p>
            </div>
        </section>
        <section class = "Fifth">
            <div class = "Paragr3 ">
                <h4 class = "Head2 ">
                    Email notifications
                </h4>
                <p class = "Toleft">   
                    For faster and smoother work,<br> 
                    you would recieve notifications<br>
                    on your email, when recognition would<br>
                    start and when it stop<br> 
                    with references on page for<br>
                    downloading statistics and<br>
                    photos with selected objects<br> 
                </p>
            </div>
            <img id = "secondimg" src="{% static 'image/info2.png' %}">
            <img id = "thirdimg" src="{% static 'image/info3.png' %}">
        </section>
        <section class = "Main">
            <h1 class = "Head3">
                    Used technologies
            </h1>
            <div  class = "Features">
                <div class = "Feature">
                    <img style="height: 150px; width: 170px;" src="https://timeweb.com/media/default/0001/01/9ff6dd081fb72137e967131949696d7dae19421b.png">
                    <p>BootStrap 3.3.7</p>
                </div>
                 <div class = "Feature">
                    <img style="height: 150px; width: 170px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/TensorFlowLogo.svg/1200px-TensorFlowLogo.svg.png">
                    <p>BootStrap  2.0</p>
                </div>
                <div class = "Feature">
                    <img style="height: 150px; width: 170px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDhSb5m-XFC3aDJtiMHaJAUD97PZEIXbDR1TaERC-CMtiYIhD4">
                    <p>Django  2.1.7</p>
                </div>
                <div class = "Feature">
                    <h4>Yolo</h4>
                    <p>Yolo  v.2</p>
                </div>
            </div>
        </section>
        <section class = "Last">
            <div class = "Things">  
                <div style = "margin-top: -40px; " class = "Thing">
                    <h1>Pine</h1>
                </div>
                <div class = "Thing">
                    <h4>About Pine</h4>
                    <p>
                        <div>
                        <a style="color:grey; " href="contact">Contacts</a>
                        </div >
                        <div style= "margin-top: 8px;">
                        <a style="color:grey; " href="about">About</a>
                        </div>
                        <div style= "margin-top: 8px;">
                        <a style="color:grey; margin-top: 10px;" href="login">Login</a>
                        </div>
                        <div style= "margin-top: 8px;">
                        <a style="color:grey; margin-top: 10px;" href="info">Info</a>
                        </div>
                    </p>
                </div>
                <div class = "Thing">
                    <h4>Follow Pine</h4>
                    <div class = "lables">
                        <a href="https://www.instagram.com"><img src="https://png.pngtree.com/element_our/md/20180509/md_5af2961470850.png"></a>
                        <a href="https://www.vk.com"><img src="https://pngicon.ru/file/uploads/vk.png"></a>
                        <a href="https://www.facebook.com"><img src="{% static 'image/facebook.png' %}"></a>
                        <a href="https://twitter.com/?lang=ru"><img src="{% static 'image/twitter.png' %}"></a>
                        <a href="https://www.youtube.com/?gl=RU&hl=ru"><img src="{% static 'image/utube.png' %}"></a>
                    </div>
                </div>
            </div>
        </section>
        <section style="background: #3b3e43; height: 80px;">
            <p style="text-align: center;">Copyright © 2018–2019 Pine s.r.o. Developed by Karaul cho za teama.</p>
        </section>
    </body>
</html>