{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-primary">
            <div class="col-2">
                <ul class="navbar-nav">
                    <li>
                        <h1 class="text-white">Pine</h1>
                    </li>
                </ul>
            </div>
            <div class="col-9"></div>
            <div class="col-1">
                <ul class="navbar-nav">
                    <li>
                        <a href="logout" class="text-light">выйти</a>
                    </li>
                </ul>
            </div>
        </nav>
        <h1>
            ABOUT US
        </h1>>
    </body>
</html>